
#refresh {
    float: right;
    color: #EEF1FE;
}

#chat {
    background-color: rgba(255, 255, 255, 0.1);
    height: 500px;
    overflow-y: scroll;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#message-input {
    width: 80%;
}

#message-submit {
    display: inline-block;
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
}

#input-area {
    background-color: rgba(0,0,0,0.4);
    padding: 8px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
}

.mention {
    color: #0F8C7B;
    font-weight: bold;
}